/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #161616;
$primary: #FEFEFE;
$secondary: #ff901f;
$ternary: #999696;
$border: #4D4D4D;
$gray: #181818;
$accent: #ff901f;
